@import "../../../styles/variables/colors";

.background-wrapper-auth-height{
  position: absolute;
  background-color: $primaryDark;
  width: 100%;
  min-height: 362px;
  left: 0;
  top: 0;
  z-index: -1;
}

.loginBox {
  display: flex;
  justify-content: space-evenly;
  height: 430px;
  width: 90%;
  max-width: 560px;
  flex-direction: column;
  border: 1px solid #557da526;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 10px 20px 0px #557da526;
  margin: 80px auto;
  padding: 0 20px;
}

.login {
  color: #303f60;
  font-size: 22px;
  font-weight: bold;
}

.password-wrapper {
  display: flex;
  flex-direction: column;
}

.passwordLabels {
  display: flex;
  justify-content: space-between;
}
.forgotPassword {
  color: $primaryBlue;
  cursor: pointer;
}
.loginButton {
  width: 150px;
  height: 45px;
  color: white;
  background-color: $primaryBlue;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.loginButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-here {
  text-align: center;
  font-size: 16px;
}

.createAccount {
  color: $primaryBlue;
  margin-left: 5px;
  font-size: 16px;
}

.error {
  text-align: right;
  color: #ff0000;
  font-size: 12px;
}
