@import "../../styles/variables/colors";

.btn-wrapper {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid $primaryBlue;
  width: 150px;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(67, 175, 255, 0.2) 0 0 no-repeat padding-box;
}

.login-Signup-btn:focus {
  outline: none;
}

.login-signup-link {
  color: $white;
  text-decoration: none;
}